 /* Barra fixa */
 .barra-fixa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1000; /* Garante que a barra fique sobre outros elementos */
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.barra-fixa a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

.barra-fixa a:hover {
    background-color: #D3D3D3;/*Barra que aparece ao passar o cursor*/
    border-radius: 10px;
}

/* Estilo das seções */
section {
    padding: 10px 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
#secao1{
    background-image: url("Documentos/site de cezar/foto-de-fundo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    

}


#secao2 img {
    
    border-radius: 10px;
    height:auto;
}

#secao3 img{
    border-radius: 10px;

}

.eqp {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: black;
}

#secao5 a{
    text-decoration: none;
}

#secao5 a:hover{
    background-color: #D3D3D3;/*Barra que aparece ao passar o cursor*/
    color: #9ad0f9;
    border-radius: 10px;
}